* {
	margin:  0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

header {
	height: 120px;
	background-color: #151414;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

  header a {
	border-bottom: none !important; 
}
  header .content {
	min-height: 120px; 
}
  header .logo {
	box-shadow: 1px 10px 30px 0px rgba(230, 58, 58, 0.15); 
}
  header .menu a {
	font-size: 14px;
	letter-spacing: 0.7px;
	color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	text-transform: uppercase; }
  header .menu a:hover {
	color: #ffffff; }
  header .mobileHeader {
	width: 100%;
	padding: 20px 0; }
  header .mobileHeader svg {
	filter: drop-shadow(0px 4px 5px #e63a3a); }
  header .mobileHeader svg path {
	fill: #e63a3a; }

body {
		background: #171616;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		line-height: 1.58;
		color: rgba(255, 255, 255, 0.9);
		font-size: 1.6rem;
}

footer {
	position:absolute !important;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	display: block;
	background: rgba(0,0,0,.5);
    padding: 10px 0px 0px 0px;
}

footer p {
	color: #FAFAFA;
}

.buy-form {
	width: 40%;

}

nav {
	margin-bottom: 10% !important;
}

.btn {
	border-radius: 0px;
}

label {
	font-weight: 300;
    letter-spacing: 1px;
}

.page {
	margin-bottom: 50px;
}

.btn {
	outline: none !important;
}

footer a {
	color: #FAFAFA;
    text-decoration: none;
    border-bottom: 1px dotted rgba(245, 245, 245, 0.58);
    margin-right: 10px;
}

footer a:last-of-type {
	margin-right: 0px;
}

footer a:hover, footer a:focus {
	color: #FAFAFA;
	text-decoration: none;
}

.server-select {
	display: none;
}

.server {
	display: none;
}

select {
	width: 100%;
}

.jq-selectbox {
    width: 100%;
    display: block;
}

.jq-selectbox__dropdown ul {
    max-height: 203px;
}

noscript .alert {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999999;
    border-radius: 0px;
    height: 95%;
}

#monit .dropdown-menu form{
	padding: 10px;
    min-width: 200px;
}

#monit .serv {
	border-bottom: 1px dashed #C3C3C3;
    margin-bottom: 5px;
}

#monit .serv .online {
	float: right;
}

.buy:first-of-type {
	padding-right: 0px;
}

.buy:last-of-type {
	padding-left: 0px;
}

textarea {
	resize: vertical !important;
}

.form-group textarea {
	resize: vertical !important;
}